.search-bg {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dp2no7dm6/image/upload/v1635299008/alkemi%20challenge/batmanpelea_xlsxpp.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  width: 85% !important;
}

@media screen and (min-width: 992px) {
  .search-bar-container {
    width: 40% !important;
  }
}
